body{
    background-color: black;
}

.bodyChatbot{
    padding-top: 15px;
    overflow-y: scroll;
    background-color: black;
}

.bodyChatbot__mensajes{
    /* display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100%; */
}

.mensajesBot{

    width: auto;
    height: auto;
    border: 2px solid #f65f5d;
    border-radius: 8px 8px 8px 0;
    padding: 8px;
    margin-right: 70px;
    background-color: white;
}

.mensajesBot__text{

    margin-left: 8px;
    font-size: 14px;
    font-family: 'Montserrat';
}

.mensajesUsuario{

    text-align: end;
    border: 1px solid black;
    background-color: #f65f5d;
    color:white;
    padding: 8px;
    /* margin-left: 80px; */
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px 8px 0 8px;
    position: relative;
    width: auto;
    left: 100%;
    transform: translateX(-100%);
    display: inline-block;
}

.mensajesUsuario__text{

    font-size: 14px;
    font-family: 'Montserrat';
    margin-right: 8px;
}

